/* BASE STYLING */
*{

	box-sizing: border-box;
}

html {
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol, figure, section {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: Lato, Arial, sans-serif;
	
}

h1, h2, h3, h4, h5, h6 {

	padding: 0.5em 0 0.5em 0;

}

p {
	font-size: 1rem;
	line-height: 1.75rem;
	padding: 1em 0;
}


/* LAYOUT */

#header, section {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
}

/* TITLE AND NAVIGATION */

.title{
	padding-bottom: 0;
}

#nav {
	width: 100%;
	margin: 20px 0;
}

#nav ul {
	list-style-type: none;
	background-color: #000;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;

}

#nav ul li {
	padding: 0 40px;
	float: left;
	display: inline;
	font-size: 0.8rem;
	text-transform: uppercase;

}

#nav ul li a {
	color: #fff;
	text-decoration: none;
}


#nav ul li a:hover {
	color: #c0392b;
}

#nav .active {
	background-color: #c0392b;
}

#nav .active a:hover {
	color: #000;
}


#nav ul li:first-child {
	border-radius: 5px 0 0 5px;
}

/* SECTIONS */

section {
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}

.section-border {
	border:0;
	max-width: 80%;
	width: 500px;
	border-bottom: 1px solid #CCC;	
}

section img {
	max-width: 100%;
}

/* GALLERY AND GRID */

.gallery {
	text-align: center;
	padding: 0;
}


.column {
	float: left;
	margin-left: 4%;	
}

.column:first-child {
	margin-left: 0;
}


.grid-4 {
	padding: 0px;
	width: 22%;
}

.img-gallery {
	margin: 0;
	padding: 0;
}

.img-gallery li {
	display: inline;
}


/* RESPONSIVE */

@media screen and (min-width: 1190px){

	.col-2 {
		width: 75%;
		margin-right: 4%;
		float: left; 
	}

	.col-1 {
		width: 20%;
		float: left;
	}
}

@media screen and (max-width: 960px){

	body {
		padding: 20px;
	}

	#header, section {
		max-width: 100%;
	}

	.gallery figure img {
		max-width: 150px;
	}

}

@media screen and (max-width: 750px){

	.gallery {
		text-align: center;
	}

	.gallery figure img {
		max-width: 100%;
	}

	.column {
		float: none;
		display: block;
		margin: 0;
		padding-top: 20px;
	}

	.column:first-child{
		padding-top: 0;
	}

	.grid-4 {
		width: 100%;
	}
}

@media screen and (max-width: 700px){

	#nav ul {
		height: auto;
	}

	#nav ul li {
		display: block;
		float: none;
	}

	#nav ul li:first-child {
		border-radius: 5px 5px 0px 0px;
	}

}

